{% macro datos(name,placeholder,type="texto") %}
    <div class="mb-3">
        <label for="{{ name }}" class="form-label>">{{ name }}</label>
        <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}"
        placeholder="{{ placeholder }}">
    </div>

{% endmacro %}

{% macro campoNuevo(field) %}
<tb>{{ field.label }}</tb>
<dd>{{ field(**kwargs) | safe }}</dd>
{% if field.errors %}
    {% for error in field.errors %}
        <li style="color:red">{{ error }}</li>
    {% endfor %}
{% endif %}

{% endmacro %}